# Q.2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

# 
H0 = Avearge TAT among the four laboratories are same
H1 = Average TAT among the four laboratories are different

Here , alpha = 0.05 
We use ANOVA test to verify the assumption

In [1]:
import pandas as pd
import numpy as np 
from scipy import stats

In [4]:
df= pd.read_csv('C:/Users/ADMIN/Desktop/Data Science/Assignment_3/LabTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
df.isna().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [6]:
f_value,p_value= stats.f_oneway(df['Laboratory 1'],df['Laboratory 2'],df['Laboratory 3'],df['Laboratory 4'])

In [7]:
f_value,p_value

(118.70421654401437, 2.1156708949992414e-57)

Here alpha > p_value 
Hence we reject H0 .
Inference: There is significant difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list