# Q.3
Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

 - H0 = Male and female columns are independent
 - H1 = Male and female columns are dependent
 
 - Here alpha = 0.05 
 - For above example we can use chisquare test

In [1]:
import numpy as np 
import pandas as pd
from scipy import stats

In [3]:
df=pd.read_csv('C:/Users/ADMIN/Desktop/Data Science/Assignment_3/BuyerRatio.csv',index_col=0)
df.head()

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [4]:
obs = [[50,142,131,70],
       [435,1523,1356,750]]
obs

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [5]:
test_stats,p,dof,exp = stats.chi2_contingency(obs)

In [6]:
test_stats,p,dof,exp

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [7]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299, 146.81287862, 131.11756787, 72.30424052,
                     442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [9]:
test_stats,p_value=stats.chisquare(observed,expected)
test_stats,p_value

(1.5959455390914483, 0.9788009521510006)

In [10]:
p_value

0.9788009521510006

Here , p_value> alpha , Hence we fail to reject H0.
 Male and Female columns are independent and male-female buyer rations are similar across regions.